.panel{
    margin: auto;
    width: 600px;
    height: 700px;
    background: #f3f3f3;
    border: 1px solid #f0f0f0;
    margin-top: 20px;
}

.display{
    font-size: 80px;
    text-align: right;
    margin: 20px;
}

.keyboard{
    display: flex;
    height: 80%;
}

.numbers{
    width: 80%;
}

.numbers button{
    width: 30%;
    height: 22%;
    font-size: 50px;
    margin: 5px;
}

.operations{
    width: 15%;
}

.operations button{
    width: 100%;
    height: 15%;
    margin: 5px;
}