#general-container{
    background-color: aqua;
    width: 400px;
    height: 600px;
    margin: auto;
    padding: 5px;
}

#header-chat
{

}

#panel-messages{

}

#send-message{

}

#panel-responses{
    background-color: brown;
    display: none;
    position: absolute;
    top: 10px;
    height: 380px;
    width: 400px;
}

.responses-open{
    display: block !important;
}

.message{
    width: 85%;
    height: 50px;
    background-color: beige;
    margin-bottom: 2%;
}

.messaje-user{
    margin-left: 15%;
}

#input-fake{
    width: 80%;
    height: 10px;
    background-color: white;
}