@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.bingo{
  margin: 50px;
}

.bingo .board{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    
}

.number{
    width: 95px;
    height: 100px;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
}

.isSelected{
    background-color: #74ab00;
}

.panel{
    margin-top: 50px;
}

:root {
  --black: #000;
  --white: #fff;
  --primary: #1867c0;
  --dark-primary: #00A5CE;
  --danger: #f14040;
  --success: #01b075;
  --dark: #003b4a;
  --info: #028fbe;
  --secondary: #d0d0d0;
  --warning: #f2ab2f;
  --pink: #e91e63;
  --orange: #f36d2d;
  --standar: #565656;
}

* {
  padding: 0;
  margin: 0;
  outline: 0 !important;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: var(--light);
  color: var(--standar);
  font-weight: 400;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
}

.line-height-normal {
  line-height: normal !important;
}

.body-container {
  height: 100vh;
}



/* Negrilla */

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}



/* Tamaños fuentes */

.fz-10 {
  font-size: 10px !important;
}

.fz-12 {
  font-size: 12px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-22 {
  font-size: 22px !important;
}

.fz-24 {
  font-size: 24px !important;
}

.fz-26 {
  font-size: 26px !important;
}

.fz-28 {
  font-size: 28px !important;
}

.fz-30 {
  font-size: 30px !important;
}

.fz-32 {
  font-size: 32px !important;
}

.fz-34 {
  font-size: 34px !important;
}

.fz-36 {
  font-size: 36px !important;
}

.fz-38 {
  font-size: 38px !important;
}

.fz-40 {
  font-size: 40px !important;
}

.fz-42 {
  font-size: 42px !important;
}

.fz-44 {
  font-size: 44px !important;
}

.fz-46 {
  font-size: 46px !important;
}

.fz-58 {
  font-size: 58px !important;
}

.fz-66 {
  font-size: 66px !important;
}

.fz-72 {
  font-size: 72px !important;
}



/* Colores */

.black--text,
.text-black {
  color: var(--black) !important;
}

.standar--text,
.text-standar {
  color: var(--standar) !important;
}

.secondary--text,
.text-secondary {
  color: var(--secondary) !important;
}

.white--text,
.text-white {
  color: var(--white) !important;
}

.danger--text,
.text-danger {
  color: var(--danger) !important;
}

.primary--text,
.text-primary {
  color: var(--dark-primary) !important;
}

.success--text,
.text-success {
  color: var(--success) !important;
}

.info--text,
.text-info {
  color: var(--info) !important;
}

.dark--text,
.text-dark {
  color: var(--dark) !important;
}

.light-primary--text,
.text-light-primary {
  color: var(--light-primary) !important;
}

.warning--text,
.text-warning {
  color: var(--warning) !important;
}

.dark-primary--text,
.text-dark-primary {
  color: var(--dark-primary) !important;
}



/* Botones */

.btn {
  font-size: 16px !important;
  font-weight: 700 !important;
  padding: 6px 26px !important;
}

.btn-sm {
  font-size: 12px !important;
  font-weight: 400 !important;
  padding: 2px 16px !important;
}

.btn-primary {
  background-color: var(--dark-primary) !important;
  border-color: var(--dark-primary) !important;
}

.btn-outline-success {
  background-color: transparent !important;
  border-color: var(--success) !important;
  color: var(--success) !important;
}



/* Forms */

.form-control {
  box-shadow: none !important;
  border: 2px solid #D6D6D6 !important;
  border-radius: 10px !important;
  background-color: #FAFAFA !important;
  font-size: 14px !important;
  height: 38px;
  padding: 6px 12px !important;
  color: var(--black) !important;
}

.form-control::placeholder {
  color: #C1C1C1;
}

.form-label {
    font-size: 14px;
    font-weight: 300;
    color: var(--black);
    margin: 0 0 .25rem;
    display: block;
}



/* Breadcrumb */

.breadcrumb {
  box-shadow: 85px 0px 34px rgba(0, 0, 0, 0.01), 48px 0px 29px rgba(0, 0, 0, 0.05), 21px 0px 21px rgba(0, 0, 0, 0.09), 5px 0px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.breadcrumb .step-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #444A58;
  font-size: 14px;
  font-weight: 400;
}

.breadcrumb .step-list > li {
  position: relative;
}

.breadcrumb .step-list > li + li:before {
  content: '/';
  display: inline-block;
  margin: 0 5px;
  font-weight: 400;
}

.breadcrumb .step-list > li:last-child {
  font-weight: 700;
}



/* Login */

.view-all-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* Card */

.custom-card {
  box-shadow: -78px 18px 32px rgba(0, 0, 0, 0.01), -44px 10px 27px rgba(0, 0, 0, 0.05), -19px 5px 20px rgba(0, 0, 0, 0.09), -5px 1px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--white);
}

.custom-card .card-title {
  background-color: #FAFAFA;
}



/* Tables */

.rdt_Table,
.rdt_Table .rdt_TableHead .rdt_TableHeadRow {
  border: 0;
}

.rdt_Table .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #C1C1C1;
  text-transform: capitalize;
}

.rdt_Table .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol .rdt_TableCol_Sortable {
  justify-content: center;
}

.rdt_Table .rdt_TableBody .rdt_TableRow {
  min-height: inherit;
  height: 36px;
  border: 0 !important;
}

.rdt_Table .rdt_TableBody > .rdt_TableRow:nth-child(odd) {
  background-color: #FAF8F8;
}

.rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  color: #464646;
}

.rdt_Pagination {
  border: 0 !important;
}


#component-form-user{
  width: 50%;
  margin: auto;
  margin-top: 300px;
  padding: 20px;
}


.image-login{
  width: 120px;
  height: 70px;
}

.next-number-cont{
  margin-top: 5px;
  margin-bottom: 5px;
}
.next-number-cont b{
  font-size: 20px;
}
.next-number-cont button{
  margin-left: 10px;
}